<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	  <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logInfo" xsi:type="File" fileName="${basedir}\\Logs\\${shortDate}-INFO.txt" layout="&gt;&gt;&gt;${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:maxInnerExceptionLevel=100:format=tostring}}" />
			<target name="logError" xsi:type="File" fileName="${basedir}\\Logs\\${shortDate}-ERROR.txt" layout="&gt;&gt;&gt;${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:maxInnerExceptionLevel=100:format=tostring}}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Error" writeTo="logError" />
			<logger name="*" level="Info" writeTo="logInfo" />
		</rules>
	</nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="FSAFieldDBEntities" connectionString="metadata=res://*/FSAFieldDB.csdl|res://*/FSAFieldDB.ssdl|res://*/FSAFieldDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VUSDEVSQL21;initial catalog=FSAFieldDB;user id=CStarDev;password=cstar;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
	<appSettings>
		<add key="localOrderFolder" value="C:\Shared\Upload Data\Appointment Message\" />
		<add key="DurationTime" value="1" />
		<add key="ReportEmailTemplate" value="EmailTemplates\ReportEmailTemplate.txt" />

		<!-- Email. -->
		<add key="DefaultFromEmail" value="llsweb03@gmail.com" />
		<add key="DefaultToEmail" value="le.van.quynh@vsi-international.com" />

		<!-- end email config  -->
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>